*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* figmadagi font yo'q ekan */
}
.container{
    max-width: 1184px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER START */
.menu__list{
    display: none;
}
.menu__list--img{
    color: #fff;
    cursor: pointer;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}
.nav__list ul{
    display: flex;
    list-style: none;
    gap: 64px;
}
ul li a{
    text-decoration: none;
    color:  #19182580;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    transition: 0.5s all ease;
}
.nav__list a:hover{
    color: #222831;
}
.header__btn a{
    padding: 16px 32px;
    color:  #222831;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: none;
    transition: 0.5s all ease;
}
.header__btn a:hover{
    color: #8054BE;
}
.header__btn button{
    padding: 16px 32px;
    border-radius: 100px;
    background: #5D50C6;
    border: none;
    color: #EEE;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.header__btn button:hover{
    box-shadow: -2px 1px 29px -2px rgba(168,87,180,0.75);
    -webkit-box-shadow: -2px 1px 29px -2px rgba(168,87,180,0.75);
    -moz-box-shadow: -2px 1px 29px -2px rgba(168,87,180,0.75);
    scale: 1.05;
}
.header__btn button:active{
    scale: 0.95;
}
/*  HEADER END */

/* HERO START */
.hero__container{
    display: flex;
    padding: 64px 0;
    justify-content: space-between;
}
.left__item{
    display: flex;
    flex-direction: column;
    gap: 43px;
    margin-top: 68px;
    max-width: 416px;
}
.hero__world-btn{
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 100px;
    border: none;
    background: #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07), 0px 34px 75px 0px rgba(0, 0, 0, 0.07), 0px 137px 137px 0px rgba(0, 0, 0, 0.06), 0px 308px 185px 0px rgba(0, 0, 0, 0.04), 0px 548px 219px 0px rgba(0, 0, 0, 0.01), 0px 856px 240px 0px rgba(0, 0, 0, 0.00);
    padding: 16px 32px;
    max-width: 224px;

    color:  #F85E9F;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%; 
    cursor: pointer;
    transition: 0.5s all ease;
}
.hero__world-btn:hover{
    background-color: #8054BE;
    color: #fff;
}
.left__item h1{
    color: #000;
    font-size: 67px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 82.8px */
}
.left__item span{
    color: #F85E9F;
}
.left__item p{
    color:  #19182580;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
}
.hero__btns{
    display: flex;
    gap: 16px;
    align-items: center;
}
.get-started_btn{
    padding: 16px 32px;
    border-radius: 100px;
    background: var(--Primary, #5D50C6);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 5px 11px 0px rgba(0, 0, 0, 0.10), 0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 126px 35px 0px rgba(0, 0, 0, 0.00);
    color:  #EEE;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
    border: none;
    transition: 0.5s all ease;
}
.get-started_btn:hover{
    background-color: #8054BE;
}
.hero__play-video{
    display: flex;
    padding: 16px 32px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--Light, #EEE);
    background: var(--white, #FFF);
    transition: 0.5s all ease;
}
.hero__play-video:hover{
    background-color: #e2e0e0;
}
@media screen and (max-width: 1024px) {
   /* body{
        background-image: url('../images/svg/bc-header.svg');
        background-repeat: no-repeat;
        background-position: -20px -20px;
    } */
    body{
        padding: 0 16px;
    }
    .bc__header{
        width: 500px;
        height: 500px;
        border-radius: 500px;
        opacity: 0.5;
        background: #FF5722;
        filter: blur(250px);
        position: absolute;
        top: -300px;
        left: -400px;
    }
    .container{
        max-width: 896px;
        flex-wrap: wrap;
    }
    .nav__list{
        display: none;
    }
    .menu__list{
        display: block;
        position: relative;
    }
    .menu__list nav{
        display: none;
        width: 100%;
        position: absolute;
    }
    nav ul{
        flex-direction: column;
        list-style: none;
    }

    /* hero */
    .hero__container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .left__item .hero__btns{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left__item p, h1{
        text-align: center;
    }
}
@media screen and (max-width: 450px) {
    body{
        padding: 0 16px;
    }
    .container{
        max-width: 398px;
        flex-direction: row-reverse;
    }
    .header__container{
        padding: 32px 0;
    }
    .header__btn,
    .bc__header{
        display: none;
    }
    
    /* hero */
    .hero__container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .left__item .hero__btns{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left__item p, h1{
        text-align: center;
    }
}